extends layout

block content
  h1  AUmento en Applaudos 2k en dolores y en el Idac un 30% 105k rico lejos!
  p Select your train below to see its current schedule.
  #wrapper
    #trainList
      h2 Trains
      #trains.d-flex.flex-row
    #trainInfo
      strong  <span id='trainName'></span>
      #trainSchedule
        strong Select a train to view its current schedule.
